/*
* Main page CSS
*/

.article-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 30%));
    grid-gap: 1rem;
}

.article-single {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-color: #eff3f6;
    border-radius: 0.5rem;
    margin: 20px;
    padding: 10px;
}

article {
    border-style: solid;
    border-width: 1px;
    border-color: #eff3f6;
    border-radius: 0.5rem;
    margin: 20px;
    padding: 10px;
    flex-basis: 100px;
}

article img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.article-single img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    max-width: 800px;
}

.article-item p {
    text-align: justify;
}

.article-single p {
    text-align: justify;
}

.left-menu {
    background-color: #eff3f6;
    border-radius: 0.5rem;
    padding: 0.625rem;
    margin: 0.625rem;
    min-width: 200px;
}

ul {
    list-style-type: none;
    padding: 0.25rem;
}

li {
    padding: 0.25rem;
}

.go-to-article {
    text-align: right;
}