/*
* General CSS 
*/

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #0e5cd0;
}

h6 {
    color: #656e76;
    margin: 0;
    text-align: right;
}

p {
    font-size: 0.875rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #629bef;
}

/*
* Header CSS
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.625rem;
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
    }
}

.top-menu {
    display: flex;
}

@media (max-width: 800px) {
    .top-menu {
        flex-direction: column;
    }
}

.top-menu li {
    margin: 0 0.625rem;
}

.main-page {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

/*
* Main CSS
*/

@media (max-width: 800px) {
    .main-page {
        flex-direction: column;
        align-items: center;
    }
}

.article-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 30%));
    grid-gap: 1rem;
}

.article-single {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-color: #eff3f6;
    border-radius: 0.5rem;
    margin: 20px;
    padding: 10px;
}

.article-item {
    border-style: solid;
    border-width: 1px;
    border-color: #eff3f6;
    border-radius: 0.5rem;
    margin: 20px;
    padding: 10px;
    flex-basis: 100px;
}

.article-item img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.article-single img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.article-item p {
    text-align: justify;
}

.article-single p {
    text-align: justify;
}

.left-menu {
    background-color: #eff3f6;
    border-radius: 0.5rem;
    padding: 0.625rem;
    margin: 0.625rem;
    min-width: 200px;
}

.left-menu h3 {
    font-style: italic;
}

ul {
    list-style-type: none;
    padding: 0.25rem;
}

li {
    padding: 0.25rem;
}

.go-to-article {
    text-align: right;
}

/*
* Footer CSS
*/

footer {
    background-color: #1a1d20;
    color: white;
    text-align: center;
    padding: 0.875rem;
}
