body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #0d6efd;
}

p {
    font-size: 0.875rem;
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.625rem;
}

.top-menu {
    display: flex;
}

.top-menu > li {
    margin: 0 0.625rem;
}

.main-page {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .main-page {
        flex-direction: column;
    }
}

.article-container {
    display: grid;
    grid-template-columns: 300px 300px;
    /*grid-template-columns: repeat(2, minmax(20rem, 1fr));*/
    grid-gap: 1rem;
}

.article-item {
    border-style: solid;
    border-width: 1px;
    border-color: #e9ecef;
    border-radius: 0.5rem;
    margin: 20px;
    padding: 10px;
    flex-basis: 100px;
}

.article-item > img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.article-item > p {
    text-align: justify;
}

.left-menu {
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    padding: 0.625rem;
    margin: 0.625rem;
    min-width: 200px;
}

.left-menu > h3 {
    font-style: italic;
}

ul {
    list-style-type: none;
    padding: 0.25rem;
}

li {
    padding: 0.25rem;
}

footer {
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 0.875rem;
}
